.pallio {
  position: relative;
  display: block;
  overflow: hidden;
  outline: none;
  box-shadow: none;
}
.pallio .pulse-box {
  opacity: 1;
}
.pallio.pulse-inactive .pulse-box .pulse div {
  animation: none;
}
.pallio img {
  display: block;
  width: 100%;
  max-width: none;
  height: auto;
  border: 0 none;
}
.pallio img.preview {
  transform: scale(1.05);
}
.pallio img.reveal {
  position: absolute;
  left: 0;
  top: 0;
  will-change: transform, opacity;
  animation: reveal 1s ease-out;
}
@keyframes reveal {
  0% {
    transform: scale(1.05);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.pallio.pulse-active .pulse-box {
  opacity: 0;
  transition: all ease-out 0.5s;
}
.pallio, .pallio.pulse-active {
  box-shadow: 6px -6px 12px -6px darkslategray;
  transition: box-shadow cubic-bezier(0, 0.2, 0.8, 1) 0.4s;
}
.pallio .pulse-box, .pallio.pulse-active .pulse-box {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: inline-block;
}
.pallio .pulse-box .pulse div, .pallio.pulse-active .pulse-box .pulse div {
  position: absolute;
  opacity: 1;
  animation: pulsing 1.5s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.pallio .pulse-box .pulse div:nth-child(2), .pallio.pulse-active .pulse-box .pulse div:nth-child(2) {
  animation-delay: -0.75s;
}
.pallio .pulse-box .pulse div:nth-child(3), .pallio.pulse-active .pulse-box .pulse div:nth-child(3) {
  animation-delay: -2s;
}
@keyframes pulsing {
  0% {
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    opacity: 1;
    border-radius: 25%;
    background-color: #f8f99d;
  }
  100% {
    top: -12.5vw;
    left: -25vw;
    width: 50vw;
    height: 25vw;
    opacity: 0.05;
    border-radius: 0;
    background-color: ghostwhite;
  }
}
